footer.footer {
  padding: 1em;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
}

.social {
  width: 50;
  height: 50;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.social:hover {
  transform: scale(1.3);
}
