footer.footer {
  padding: 1em;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
}

.social {
  width: 50;
  height: 50;
  opacity: 0.5;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.social:hover {
  opacity: 1;
}
