.header {
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.header__left {
  font-size: 1.5em;
  font-weight: bold;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__right li {
  list-style: none;
  margin-left: 1rem;
  padding-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-bottom: 4px solid transparent;
}

.header__right a {
  text-decoration: none;
}

.header__right li.active {
  border-bottom: 4px solid yellowgreen;
}
