body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease-in;
}

p {
  line-height: 1.7em;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
